<md-dialog  aria-label="List dialog" layout="column" flex="70"> 
    <md-dialog-content class="md-padding">
        <label>Define a function:</label>
        <form name="userForm">
            <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                <label>Image:</label>
                <input name="dockerImage" ng-model="item.image" required md-maxlength="200" minlength="4">
                </md-input-container>
            </div>
            <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                <label>Service name:</label>
                <input name="serviceName" ng-model="item.service" required md-maxlength="200" minlength="4">
                </md-input-container>
            </div>
            <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                <label>fProcess:</label>
                <input name="envProcess" ng-model="item.envProcess" required md-maxlength="200" minlength="1">
                </md-input-container>
            </div>
            <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                <label>Network:</label>
                <input name="network" ng-model="item.network" required md-maxlength="200" minlength="4">
                </md-input-container>
            </div>

        </form>
    </md-dialog-content> 
    <md-dialog-actions> 
        <md-button ng-click="closeDialog()" class="md-secondary"> 
        Close Dialog 
        </md-button> 
        <md-button ng-click="createFunc()" class="md-primary"> 
        Create 
        </md-button> 
    </md-dialog-actions> 
</md-dialog>
