groups:
- name: prometheus/alert.rules
  rules:
  - alert: service_down
    expr: up == 0
  - alert: APIHighInvocationRate
    expr: sum(rate(gateway_function_invocation_total{code="200"}[10s])) BY (function_name) > 5
    for: 5s
    labels:
      service: gateway
      severity: major
      value: '{{$value}}'
    annotations:
      description: High invocation total on {{ $labels.instance }}
      summary: High invocation total on {{ $labels.instance }}
